body {
    text-align: center;
    color: #1D3557;
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    white-space: normal;
}

h2,
h3 {
    margin: 20px 0 30px 0;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
    text-align: center;
    padding: 20px auto;
}

img {
    max-width: 100%; /* Added to ensure images don't exceed their container */
    height: auto; /* Added to maintain image aspect ratio */
    margin: 0;
    padding: 0;
}

#hero {
    background-image: url(images/banner2.jfif);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 20px 10px 10px 10px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    color: white;
    font-size: 100px;
    text-shadow: 0px 0px 10px black;
    border-radius: 20px;
    overflow: hidden;
}

#hero-txt {
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 25px;
    margin: 0 auto;
    position: relative;
    top: -180px;
    width: 1500px;
   
}

.places-container {
    width: 400px;
    margin: 0 auto;
}

.top3-container {
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    padding: 0 0 60px 0;
    margin: 10px 10px;
    background-color: rgba(168, 218, 220, 0.6);
    border-radius: 20px;
}

.top3-container img {
    max-width: 100%; /* Added to ensure images don't exceed their container */
    height: 200px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.divider {
    border: 3px solid grey;
    border-radius: 20px;
}

.lake-district {
    width: 258px;
}

.image-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 10px black;
    height: 136px;
}

.image-txt ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    padding: 40px 0;
    list-style: none; 
}

li {
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
}

h5 {
    display: flex;
    margin: 0 10px;
    color: white;
    font-size: 40px;
    position: relative;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 20px;
}

.visit-ideas-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-banner {
    margin-bottom: 10px;
}

.guide-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin: 10px 0px;
    background-color: rgba(168, 180, 100, 0.6);
    max-width: 1200px; /* Changed width to max-width */
    height: 250px;
    border-radius: 20px;
    
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 5px solid black;
    margin: auto 10px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 500px;
}

.guide-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}


#london:hover {
    content: url(images/london2.jpg);
}


#lake-district:hover {
    content: url(images/lake-district2.jpg);
}


#stonehenge:hover {
    content: url(images/stonehenge2.jpg);
}

